<h1>Customers</h1>
<h5>Ordered lists: <%= link_to 'Alphabetized', customers_alphabetized_path %> <%= link_to 'Missing Emails', customers_missing_email_path %></h5>
<table>
	<tr>
		<th>Full Name</th>
		<th>Phone Number</th>
		<th>Email Address</th>
		<th>Notes</th>
		<th>Image</th>
	</tr>

<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.full_name %></td>
		<td><%= customer.phone_number %></td>
		<td><%= customer.email_address %></td>
		<td><%= customer.notes %></td>
		<td><%= customer.image %></td>
	</tr>
<% end %>
</table>
